<h1>Announcements</h1>
<ul id="announcements">
  {{#each model as |announcement|}}
    <li><strong>{{announcement.type}}</strong>  {{announcement.location}}: {{announcement.message}}</li>
  {{/each}}
</ul>
